<head>
  Local Mirror Server
</head>
<body>
  <h1>Welcome to the local mirror server</h1>



  <h3>Python Pip Mirror</h3>
  To use the local pip mirror you need to create the following local files on your machine.
  ~/.pypirc
  [distutils]
  index-servers = local

  [local]
  repository: http://pypi.bzp.zone/simple
  

  To upload a file to the repo you can then do:
  python setup.py upload -r local

  To use the local repository for installing pip modules you can do either of the following:
  pip install -i http://pypi.bdp.zone/simple modulename

  or create the following file:
  ~/.pip/pip.conf
  [global]
  index-url = http://pypi.bdp.zone/simple

  <h4>Reference</h4>
  <a href=https://github.com/mvantellingen/localshop>github.com/mvantellingen/localshop</a>

  
</body>
