################################################################################
###   Copyright 2015 Big Data Partnership Ltd                                    #
###                                                                              #
###   Licensed under the Apache License, Version 2.0 (the "License");            #
###   you may not use this file except in compliance with the License.           #
###   You may obtain a copy of the License at                                    #
###                                                                              #
###       http://www.apache.org/licenses/LICENSE-2.0                             #
###                                                                              #
###   Unless required by applicable law or agreed to in writing, software        #
###   distributed under the License is distributed on an "AS IS" BASIS,          #
###   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
###   See the License for the specific language governing permissions and        #
###   limitations under the License.                                             #
##################################################################################

{% set reverse = container_network|split('.') %} 
{% for x in range(container_start_number | int, container_end_number | int + 1) %}
address=/bdpcontainer-{{ type }}-{{ x }}.bdp.zone/{{ container_network }}.{{ x }}
ptr-record={{ x }}.{{ reverse[2] }}.{{ reverse[1] }}.{{ reverse[0] }}.in-addr.arpa,bdpcontainer-{{ type }}-{{ x }}.bdp.zone
{% endfor %}
