################################################################################
##   Copyright 2015 Big Data Partnership Ltd                                    #
##                                                                              #
##   Licensed under the Apache License, Version 2.0 (the "License");            #
##   you may not use this file except in compliance with the License.           #
##   You may obtain a copy of the License at                                    #
##                                                                              #
##       http://www.apache.org/licenses/LICENSE-2.0                             #
##                                                                              #
##   Unless required by applicable law or agreed to in writing, software        #
##   distributed under the License is distributed on an "AS IS" BASIS,          #
##   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
##   See the License for the specific language governing permissions and        #
##   limitations under the License.                                             #
#################################################################################

[Unit]
Description=bdpcontainer-{{ type }}-{{ item }}.service
After=weave.service
Requires=weave.service
[Service]
Type=forking
RemainAfterExit=True
ExecStartPre=/usr/bin/sleep 20
ExecStart=/opt/bin/weave run {{ container_network }}.{{ item }}{{ container_subnet }} --hostname=bdpcontainer-{{ type }}-{{ item }}.bdp.zone --privileged --name bdpcontainer-{{ type }}-{{ item }} bdpzone/bdp{{ type }}:latest
ExecStop=/usr/bin/docker stop bdpcontainer-{{ type }}-{{ item }}
