################################################################################
##   Copyright 2015 Big Data Partnership Ltd                                    #
##                                                                              #
##   Licensed under the Apache License, Version 2.0 (the "License");            #
##   you may not use this file except in compliance with the License.           #
##   You may obtain a copy of the License at                                    #
##                                                                              #
##       http://www.apache.org/licenses/LICENSE-2.0                             #
##                                                                              #
##   Unless required by applicable law or agreed to in writing, software        #
##   distributed under the License is distributed on an "AS IS" BASIS,          #
##   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
##   See the License for the specific language governing permissions and        #
##   limitations under the License.                                             #
#################################################################################

[Unit]
Description=Weave Network
Documentation=http://zettio.github.io/weave/
Requires=docker.service
[Service]
ExecStartPre=/opt/bin/weave launch {{ weave_peers }}
ExecStart=/usr/bin/docker logs -f weave
SuccessExitStatus=2
ExecStop=/opt/bin/weave stop
ExecStop=/opt/bin/weave stop-dns
