{% for x in range( container_start_number, container_end_number) %}
{{ container_network }}.{{ x }} bdpcontainer-{{ type }}-{{ x }}.{{ domainname }} bdpcontainer-{{ type }}-{{ x }}
{% endfor %}
127.0.0.1 localhost
